
@media only screen and (max-width: 780px) {
  .post-comments {
    margin-left: 0 !important;
    width: 100%;

  }
}


.post-body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex:1;
}

.timestamp {
  font-size: 12px;
  color:#ABABAB;
}
.author-info {
  justify-content: space-around;
}
.hr {
  border-bottom: 0.5px solid #C4C4C4;
}
.icons-block {
  padding: 10px 0;
}
.comments-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.post-comments {
  flex: 1;
  .comment-block {
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comment-username {
      font-size: 14px;
      color:#4A76A8;
    }
    .comment-description {
      color:#333333;
      font-size: 14px;
      font-weight: 300;
    }

  }
}

.post-content {
  max-width: 653px;
  .description-block {
    margin-top: 10px;
    span {
      font-weight: 300;
      font-size: 14px;
    }
  }
}
.PostAnnotation {
}

@media only screen and (max-width: 780px) {
  .PostAnnotation {
    background: #FFFFFF;
    padding: 16px;
    flex-direction: column;

    .comment-info-block {
      flex:0.9;
    }
  }
}