.header {
  height: 60px;
  background: #ffffff;
}

.search-input {
  padding: 8px 20px;
  background: #F2F2F2;
  border-radius: 25px;
  width: 360px;
  input {
    background: #F2F2F2;
    width: 100%;
    outline: none;
    border: none;
  }
}

.annotation-wrapper {
  .image-wrapper {
    position: absolute;
    top: 50%;
    z-index: 11;
    left:47px;
  }
  .annotation-nav {
    height: 70px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    .user-annotation-left-column {
      flex:0.7;
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      font-size: 36px;
      color:#ffffff;;
      font-weight: normal;
      position: relative;

    }
    .links-wrapper {
      display: flex;
      align-items: center;
      z-index: 2;
      height: 100%;
      justify-content: space-evenly;
      flex: 1;
      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 300;
        font-size: 16px;

      }
    }
  }

  .annotation-info {
    padding-top: 50px;
    .button-block {
      padding-top: 50px;
    }
  }


}
.aside {
  height: fit-content;
  width: 262px;
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0 20px 20px 20px;
  border-radius: 5px;

  .list_item {
    margin-top: 20px;
    span {
      font-weight: 300;
      cursor: pointer;
    }
  }
}

.mobile-header {
  height: 60px;
  background: #FFFFFF;
  padding: 11px 16px;
  .title {
    font-size: 16px;
    color:#4A76A8;
  }
}
.side-drawer {
  width: 75%;
  background: #FFFFFF;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  transition: all 0.2s ease-out;
  transform: translateX(-100%);
  z-index: 1000;
  .drawer-header-wrapper {
    padding: 10px 11px 10px 16px;
    .open__item {
      color: rgba(51, 51, 51, 0.5);
      font-size: 12px;
    }
  }
}
.side-drawer.visible {
  transform: translateX(0);
}
.backdrop {
  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background: #000000;
  opacity: 0.3;
}
.mobile-links-wrapper {
  padding: 10px 16px;
}

.hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 780px) {
  .aside {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow:none;
    padding: 16px;
    border-bottom: 0.5px solid #c4c4c4;
    z-index: 99;
  }
 .aside-list {
   opacity: 0;
   transition: all 0.5s ease-out;
   width: 100%;
   max-height: 0;
 }
  .aside-list.visible {
    opacity: 1;
    max-height: 400px;
    width: 100%;

  }

}

.short-annotation {
  .username-block {
    flex:0.3;
    justify-content: center;
    align-items: center;
    display: flex;
    span {
      font-size: 20px;
      color: #ffffff;
    }
  }
  .links-block {
    flex: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
      cursor: pointer;
      color:#ffffff;
    }
  }
}
