
.message-container {
  height: 90%;
  .message-header {
    height: 80px;
    background: #4A76A8;
    padding: 10px 15px 10px 15px;
    .username-span {
      font-size: 16px;
      color:#ffffff;
    }
  }
  .dialog-body {
    display: flex;
    align-items: flex-end;
    padding: 30px 20px;
    height: 100%;
  }

  .message-description {
    border-radius: 0 20px 20px 20px;
    padding: 15px 20px;

  }
  .message-input {
    .emoji-container {
      position: absolute;
      left: 0;
    }
  }

}