@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body, .App, #root {
  height: 100% !important;
  background: #E5E5E5 !important;
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box !important;
  }
}

html {
  font-family: "Roboto", sans-serif;

}

body {
  margin: 0 !important;
}

input, button {
  &:focus {
    outline: none;
  }
}

.z-index-10 {
  z-index: 10;
}
.overlay {
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000;
  opacity: 0.4;
  z-index: -1;
}

.vh-50 {
  height: 50vh;
}

.transform-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.absolute-centered {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: flex;
  i {
    color:#ffffff;
  }
}

.container {
  width: 1170px !important;
  margin: 0 auto;
  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.background-white {
  background-color: #ffffff !important;
}



.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.m-auto {
  margin: auto !important;
}

.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.w-fit {
  width: fit-content !important;
}

.w-max {
  width: max-content !important;
}

.w-min {
  width: min-content !important;
}

.h-fit {
  height: fit-content !important;
}

.h-max {
  height: max-content !important;
}

.h-min {
  height: min-content !important;
}



.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}


//FLEX


.flex-end {

  display: flex;

  align-items: flex-end;

}
.flex-1 {
  flex:1;
  display: flex;
}

.flex-column {

  display: flex;
  flex-direction: column;

}

.flex-center {
  justify-content: center;
}

.flex-space-center {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.flex-space-start {

  display: flex;
  align-items: start;
  justify-content: space-between;

}

.flex-column-center {

  display: flex;
  align-items: center;
  flex-direction: column;

}

.flex-column-stretch {

  display: flex;
  align-items: stretch;
  flex-direction: column;

}
.flex-wrap {

  display: flex;
  flex-wrap: wrap;

}

.flex-align-center {

  display: flex;
  align-items: center;

}

.flex-align-stretch {
  display: flex;
  align-items: stretch;
}

.flex-between {
  justify-content: space-between;
}

.flex-align-baseline {

  display: flex;
  align-items: baseline;

}

.flex-align-start {

  display: flex;
  align-items: start;

}

.flex-align-end {

  display: flex;
  align-items: end;

}

.flex {

  display: flex;

}

@for $i from 0 through 100 {
  .mr-#{$i} {
    margin-right: $i + px !important;
  }
  .mx-#{$i} {
    margin-left: $i + px !important;
    margin-right: $i + px !important;
  }
  .my-#{$i} {
    margin-top: $i + px !important;
    margin-bottom: $i + px !important;
  }
  .ml-#{$i} {
    margin-left: $i + px !important;
  }
  .mt-#{$i} {
    margin-top: $i + px !important;
  }
  .mb-#{$i} {
    margin-bottom: $i + px !important;
  }
  .px-#{$i} {
    padding-right: $i + px !important;
    padding-left: $i + px !important;
  }
  .py-#{$i} {
    padding-top: $i + px !important;
    padding-bottom: $i + px !important;
  }
  .pr-#{$i} {
    padding-right: $i + px !important;
  }
  .pl-#{$i} {
    padding-left: $i + px !important;
  }
  .pt-#{$i} {
    padding-top: $i + px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + px !important;
  }
  .p-#{$i} {
    padding: $i + px !important;
  }
  .m-#{$i} {
    margin: $i + px !important;
  }
}


//antd overrides

.ant-upload-picture-card-wrapper {
  width: fit-content;
}


.custom-exiting,
.custom-entering {
  animation: .3s linear;
  animation-fill-mode: forwards;
}

.custom-exiting {
  animation-name: zoomOut;
}

.custom-entering {
  animation-name: zoomIn;
}

.custom-entered {
  opacity: 1;
}

.custom-exited {
  opacity: 0;
}


